@model Onion.AppCore.DTO.ProjectDTO



<form asp-action="Edit" asp-controller="Project" asp-anti-forgery="true" method="post" enctype="multipart/form-data">

    <div class="container col-10 ">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    </div>
    <input type="text" name="Id" asp-for="Id" hidden />
    <input type="text" name="CreateDate" asp-for="CreateDate" hidden />
    <input type="text" name="EmployeeAmount" asp-for="EmployeeAmount" hidden />


    <div class="container col-5 justify-content-center mt-3 ">
        <h2 class="text-center">Edit Project:</h2>


        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="Name">Name:</label>
            </div>
            <div class="col-9">
                <input type="text" name="Name" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="col-8" />
            </div>
        </div>


        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="Deadline">Deadline:</label>
            </div>
            <div class="col-9">
                <input type="date" name="Deadline" class="form-control" asp-for="Deadline" />
                <span asp-validation-for="Deadline" class="col-8" />
            </div>
        </div>


        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="StartDate">Start Date:</label>
            </div>
            <div class="col-9">
                <input type="date" name="StartDate" class="form-control" asp-for="StartDate" />
                <span asp-validation-for="StartDate" class="col-8" />
            </div>
        </div>


        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="TechStack">Tech. Stack:</label>
            </div>
            <div class="col-9">
                <input type="text" name="TechStack" class="form-control" asp-for="TechStack" />
                <span asp-validation-for="TechStack" class="col-8" />
            </div>
        </div>


        <div class="row mt-1 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="Cost">Cost:</label>
            </div>
            <div class="col-9">
                <input type="text" name="Cost" class="form-control" asp-for="Cost" />
                <span asp-validation-for="Cost" class="col-8"></span>
            </div>
        </div>


        <div class="row mt-1 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="Instruction">Instruction:</label>
            </div>
            <div class="col-9">
                <input type="text" name="Instruction" class="form-control" asp-for="Instruction" />
                <span asp-validation-for="Instruction" class="col-8"></span>
            </div>
        </div>


        <div class="row mt-1 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="UseArea">Use Area:</label>
            </div>
            <div class="col-9">
                <input type="text" name="UseArea" class="form-control" asp-for="UseArea" />
                <span asp-validation-for="UseArea" class="col-8"></span>
            </div>
        </div>


        <div class="row  justify-content-center mb-5">
            <input class="btn btn-primary mt-4 col-4 NewProject" type="submit" value="Edit">
        </div>
    </div>
</form>



@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}