
<div class="container mainSize col-12">
    <div class="row rowSize">
        <aside class=" col-3 mt-3">

            <div class="list-group">
                <a href="~/Team/Show" class="list-group-item list-group-item-action " aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Teams</h6>

                    </div>

                </a>
                <a href="~/Department/Show" class="list-group-item list-group-item-action ">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Departments</h6>
                    </div>

                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Employees</h6>
                    </div>


                </a>
                <a href="~/Role/Show" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Roles</h5>
                        <small>Now</small>
                    </div>

                </a>
                <a href="~/DepartmentType/Show" class="list-group-item list-group-item-action ">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">Department Types</h6>
                    </div>
                </a>
            </div>

        </aside>
        <div class=" col-9 CreateProj">
            <p>
                Some DESCRIPTION ABOUT ROLES - aCCESS lEVEL
                
            </p>
        </div>


    </div>

</div>

